@model IEnumerable<sanpham>
<div class="row">
        @foreach (var item in @Model)
        {
            <div class="col-3 p-3">
                <div class="card" style="width: 18rem;">
                    <img src="@item.ImageUrl" class="card-img-top" alt="@item.Name">
                    <div class="card-body">
                        <h4 class="card-title text-danger">@item.price</h4>
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.Description</p>
                    <div class="row" >
                        <div class="col-6">
                            <a href="#" class="btn btn-primary">Thêm &#10084</a>
                        </div>
                        <div class="col-6">
                            <a href="#" class="btn btn-danger">Mua Hàng </a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>

        }
</div>  